<!--<nav class="navbar navbar-expand-lg navbar-info bg-info">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand text-white" href="#">Navbar</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link text-white" href="{% url 'not_connected' %}">Map <span-->
<!--                            class="sr-only">(current)</span></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<nav class="navbar navbar-expand-lg navbar-info bg-info">
  <a class="navbar-brand text-white" href="FullPainting"><img src="https://drive.google.com/uc?export=view&id=1qXTCbPEdpPS_GbP3iNomW_m5s9ySLyVz" height="45" alt="Paint the World"></a>
  <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="FullPainting">Full Painting <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="SelfPortrait">Your Painting</a>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link text-white" href="vsWorld">You vs The World</a>
        <li class="nav-item dropdown ">
        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Color
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a onclick="location.href='{% url 'change_color' %}?name=RED'" type="button" class="dropdown-item">Red</a>
          <a onclick="location.href='{% url 'change_color' %}?name=ORANGE'" type="button" class="dropdown-item">Orange</a>
          <a onclick="location.href='{% url 'change_color' %}?name=YELLOW'" type="button" class="dropdown-item">Yellow</a>
          <a onclick="location.href='{% url 'change_color' %}?name=GREEN'" type="button" class="dropdown-item">Green</a>
          <a onclick="location.href='{% url 'change_color' %}?name=BLUE'" type="button" class="dropdown-item">Blue</a>
          <a onclick="location.href='{% url 'change_color' %}?name=INDIGO'" type="button" class="dropdown-item">Indigo</a>
          <a onclick="location.href='{% url 'change_color' %}?name=VIOLET'" type="button" class="dropdown-item">Violet</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Stats (Coming soon!)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Groups (Eventually)</a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="about_project">About this Project</a>
          <a class="dropdown-item" href="about_me">About me</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
              <a href="{% url 'social:begin' 'strava' %}" class="btn btn-primary" role="button"
            aria-disabled="true">Reupload Activities</a>
    </form>
  </div>
</nav>