{% extends 'partials/base_connected.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
    <main role="main" class="container">
      <div class="row" style="padding-bottom:50px">
        <div class="col-md-10 offset-md-1 blog-main">
          <h1 class="text-center pb-3 pt-3 mb-4 border-bottom">
            About me/Contact Info
          </h1>

          <div class="blog-post">
              <p>Hello! Thankyou for taking a look at my project!</p>
              <p>My name is Adam Vert, I am work as a data scientist with my main interests in signal processing, wearable technologies and geographical data. I am most satisfied with my work when
                  I am able to combine the creativity of code with the powerful tools of mathematics.</p>
              <p>Feel free to reach out to me on LinkedIn, GitHub or by email, I would love to hear from you!</p>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <div><a href="https://www.linkedin.com/in/adam-vert/" class="social-icon" > <i class="fa fa-linkedin fa-2x" style="color:black"></i>  linkedin.com/in/adam-vert</a></div>
              <div><a href="https://github.com/VertAdam" class="social-icon" > <i class="fa fa-github fa-2x" style="color:black"></i>  github.com/VertAdam</a></div>
              <div><a href="mailto:vertadam@gmail.com" class="social-icon" > <i class="fa fa-envelope fa-2x" style="color:black"></i>  vertadam@gmail.com</a></div>
              <p> </p>
              <p>Thank you again for exploring my project, I hope you enjoyed!</p>
              </div>
              <div>
              <p>Adam</p>
              </div>
              </div>
<!--              <h3>Why I made Paint the World</h3>-->
<!--              <p>In between graduating in May and starting my full-time job in June I wanted to become familiar with a variety of new skills. In this case, I wanted to become more familiar front-end developement, geographical-->
<!--              data visualization as well as data management.</p>-->
<!--              <p>I have always been interested in</p>-->

          </div>
        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}